.container  {
    max-width: 50rem;
    margin: 0 auto;
}

.book__header {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book__name {
    display: flex;
    align-items: center;
}

.book__rating {
    display: flex;
    margin-left: 1rem;
}

.rating__link:not(:first-of-type) {
   margin-left: 2px;
}
.star {
    width: 1.5em;
    height: 1.5em;
    fill: none;
}

.star--filled {
    fill: #ffd02a;
}

.rating_link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: unset;
}

.book__read {
    display: flex;
}

.read__link {
    color: inherit;
    text-decoration: none;
    font-weight: 600;
}

.read__link:hover {
    text-decoration: underline;
}

.book__edit {
    display: flex;
    text-decoration: none;
    align-items: center;
    margin-left: 1rem;
    color: inherit;
}

.book__edit:hover {
    text-decoration: underline;
}

.pencil {
    width: 1em;
    height: 1em;
    margin-left: 3px;
}

.book__tags {
    list-style: none;
    display: flex;
}

.book__tag {
    padding: 3px 8px;
    background-color: var(--tag-colour);
}

.book__tag:not(:list-of-type) {
    margin-left: 1rem;
}

.book__video {
    width: 100%;
    aspect-ratio: 16/9;
    margin-bottom: 2.5rem;
    box-shadow: 0 5px 15px 0 rgba(0. 0. 0. 0.25),
        0 15px 35px 0 rgba(0, 0, 0, 0.25);
    border-radius: 4px;
}

.book__description {
    margin-bottom: 2.5rem;
}

.book__meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.list__item {
    margin-top: 1rem;
}