{% from "macros/svgs.html" import moon, sun %}

{% macro header(email, theme) %}
<header class="header">
  <div class="nav-container">
    <a href="{{ url_for('pages.index') }}" class="header__logo">
    <img class="header__logo" src="/static/story.png" alt="red closed book">
      <span class="logo__name">Livrelist</span>
    </a>
    <nav class="nav">
      {% if not email %}
          <a
            href="#"
            class="nav__link"
          >
            <span class="nav__item">Log in</span>
          </a>
          <a href="#"
             class="nav__link"
          >
            <span class="nav__item">Register</span>
          </a>
      {% else %}
          <a
            href="{{ url_for('pages.index') }}"
            class="nav__link {{ 'nav__link--active' if request.path == url_for('pages.index') }}"
          >
            <span class="nav__item">Books</span>
          </a>
          <a
            href="#"
            class="nav__link"
          >
            <span class="nav__item">Log out</span>
          </a>
      {% endif%}
          <a href="{{ url_for('pages.toggle_theme', current_page=request.path) }}"
            class="nav__link">
              <span class="nav__item">
                  {% if theme == "dark" %}
                        {{ sun("nav__icon") }}
                  {% else %}
                        {{ moon("nav__icon") }}
                  {% endif %}
              </span>
          </a>
    </nav>
  </div>
</header>
{% endmacro %}