{% from "macros/svgs.html" import star, pencil %}

{% extends "layout.html" %}

{% block head_content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book_details.css') }}" />
{% endblock %}

{% block main_content %}
<div class="container">
    <header class="book__header">
        <div class="header_row">
            <div class="book__name">
                <h1>{{ book.title }}</h1>
                <div class="book__rating">
                    {% for i in range(5) %}
                        <a class="rating__link" href="#">
                            {{ star("star") }}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div class="book__read">
            {% if book.last_read %}
                <p>
                    Last Read: <a href="#" class="read__link">
                    <time datetime="{{ book.last_read }}">{{ book.last_read.strftime("%d %b %Y") }}</time>
                    </a>
                </p>
            {% else %}
                <p><a href="#" class="read__link">Not read yet</a></p>
            {% endif %}
                <a class="book__edit" href="#">Edit {{ pencil("pencil") }}</a>
            </div>
        </div>
        <div class="header__row">
            <ul class="header__row">
                {% for tag in book.tags %}
                    <li class="book__tag">{{ tag }}</li>
                {% endfor %}
            </ul>
        </div>
    </header>

    {% if book.video_link %}
        <iframe
            class="book__video"
            src="{{ book.video_link }}"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen>
        </iframe>
    {% endif %}

    {% if book.description %}
        <p class="book__description">{{ book.description }}</p>
    {% else %}
        <p class="book__description">No description yet. <a class="link" href="#">Add one?</a></p>
    {% endif %}

     <div class="book__meta">
         {% if book.cast %}
            <div class="book__casting">
                <h2>Casting</h2>
                <ul class="list">
                    {% for character in book.cast %}
                        <li class="list__item">{{ character }}</li>
                    {% endfor %}
                </ul>
            </div>
         {% endif %}
         {% if book.series | length %}
            <div class="book__series">
                <h2>Series</h2>
                <ul class="list">
                {% for book_in_series in book.series %}
                    <li class="list__item">{{ book_in_series }}</li>
                {% endfor %}
                </ul>
            </div>
         {% endif %}
     </div>
</div>
{% endblock %}